*.fasta filter=lfs diff=lfs merge=lfs -text
*.fa filter=lfs diff=lfs merge=lfs -text
data/sequences/Homo_sapiens/*.fa filter=lfs diff=lfs merge=lfs -text
data/sequences/Mus_musculus/*.fa filter=lfs diff=lfs merge=lfs -text
data/sequences/Sus_scrofa/*.fa filter=lfs diff=lfs merge=lfs -text
